/* No entries */
.guestbook .no-entries-message {
  font-size: 150%;
}

/* Guestbook entries */
.guestbook .entry img {
  /* We don't want borders around smileys. */
  border: 0;
  /* Also, we don't want e.g. the AJAX indicator in the background */
  background: none;
}

/* Guestbook entry actions */
.guestbook .entry .actions {
  float: right;
}

.guestbook .entry .actions a {
  background-repeat: no-repeat;
  background-position: 4px 0px;
  padding-left: 24px;
}

.guestbook .entry .actions .email {
  background-image: url(../images/email.png);
}

.guestbook .entry .actions .website {
  background-image: url(../images/website.png);
}

.guestbook .entry .actions .edit {
  background-image: url(../images/edit.png);
}

.guestbook .entry .actions .delete {
  background-image: url(../images/delete.png);
}

/* Pagination */
